/*NO USADO*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
/*BORDE BOX*/
html {
  box-sizing: border-box;
}
@media only screen and (max-width: 800px) {
}

/*BODY MODIFICACION*/
body {
  background-color: #929292;
  color: #fff;

}
/*BODY RESPOSIVO*/
@media only screen and (max-width: 1000px) {
  body {
    padding: 0;
  }
}

/*CONTENEDOR*/
.contenedor {
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 1000px) {
  .contenedor {
    border-radius: 0;
  }
}

/*SLIDER*/
.slider {
  display: flex;
  width: 500%;
  height: 100vh;
  transition: all 0.25s ease-in;
  transform: translateX(0);
  overflow: hidden;
  
}
@media only screen and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
}

/*CADA ITEM DEL SLIDER*/
.slider .box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 650px) {
  .slider .box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    align-items:center;
  }
}
/*FONDO IZQ FIGURA*/
.slider .box .bg {
  padding: 2rem;
  /*background-color: rgba(0, 0, 0, 0.2);*/
  width: 55%;
  transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  transform-origin: 0 100%;
}
@media only screen and (max-width: 800px) {
  .slider .box .bg {
    width: 65%;
  }
}
@media only screen and (max-width: 650px) {
  .slider .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 54%;
    transform: skewX(0deg);
  }
}

.slider .box .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  pointer-events: none;
  transform: skewX(10deg);
}
@media only screen and (max-width: 650px) {
  .slider .box .bg::before {
    width: 120%;
    bottom: 0;
    transform: skewX(0deg);
  }
}

/*TEXTO*/
.slider .box .details {
  padding-top: 2rem;
  padding-bottom:2rem;
  padding-left: 10rem;
  z-index: 100;
  grid-column: 1/span 1;
  grid-row: 1/-1;
}
@media only screen and (max-width: 650px) {
  .slider .box .details {
    grid-row: 2/span 1;
    grid-column: 1/-1;
    text-align: center;
    padding: 1rem;
    transform: translateY(-8rem);
  }
}
/*TITULO*/
.slider .box .details h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
/*PARRAFO*/
.slider .box .details p {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffffcb;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 800px) {
  
  .slider .box .details h1 {
    font-size: 2rem;
  }
  
  .slider .box .details p {
    margin-right: 0;
    font-size: 0.9rem;
  }
}

/*BOTON*/
.slider .box .details a{
  background-color: #101E2C;
  color: #fff;
  font-size: 1rem;
  padding: 9px;
  border-radius: 3px;
  text-decoration: none;
  transition: 0.5s;
  text-align: center;
}

.slider .box .details a:hover{
  background-color: #0b1722;
  transition: 0.5s;
}

/*ESTILOS DE CADA CAJA*/
.slider .box1 {
  background-color: #929292;
}
.slider .box1 .illustration .inner {
  background-color: transparent;
}
.slider .box1 .illustration .inner::after, .slider .box1 .illustration .inner::before {
  background-color: rgba(200, 200, 200, 0.4);
}
.slider .box1 button {
  background-color: #ff0000;
}
.slider .box2 {
  /*background-color: #5e5e5e;*/
  background-color: #929292;
}
.slider .box2 .illustration .inner {
  background-color: transparent;
}
.slider .box2 .illustration .inner::after, .slider .box2 .illustration .inner::before {
  background-color: rgba(200, 200, 200, 0.4);
}
.slider .box2 button {
  background-color: #ff0000;
}
.slider .box3 {
  background-color: #929292;
}
.slider .box3 .illustration .inner {
  background-color: transparent;
}
.slider .box3 .illustration .inner::after, .slider .box3 .illustration .inner::before {
  background-color: rgba(200, 200, 200, 0.4);
}
.slider .box3 button {
  background-color: #ff0000;
}
.slider .box4 {
  background-color: #929292;
}
.slider .box4 .illustration .inner {
  background-color: transparent;
}
.slider .box4 .illustration .inner::after, .slider .box4 .illustration .inner::before {
  background-color: rgba(200, 200, 200, 0.4);
}
.slider .box4 button {
  background-color: #ff0000;
}
.slider .box5 {
  background-color: #929292;
}
.slider .box5 .illustration .inner {
  background-color: transparent;
}
.slider .box5 .illustration .inner::after, .slider .box5 .illustration .inner::before {
  background-color: rgba(200, 200, 200, 0.4);
}
.slider .box5 button {
  background-color: #ff0000;
}

/*ESTILO CONTENEDOR IMAGEN*/

.slider .illustration {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: center;
}
@media only screen and (max-width: 650px) {
  .slider .illustration {
    grid-row: 1/span 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider .illustration div {
  height: 25rem;
  width: 18rem;
  border-radius: 3rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*IMAGEN*/
.slider .illustration div img{
  width: 100%;
  transform: scale(1.3);
  filter: drop-shadow(-2px 2px 15px rgba(0, 0, 0, 0.7));
}

@media only screen and (max-width: 800px) {
  .slider .illustration div {
    height: 20rem;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

/*BOTONES*/
.prev,
.next,
.trail {
  z-index: 10000;
  position: absolute;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 650px) {
  .prev,
.next {
    display: none;
  }
}
.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

/*CARRUSEL ABAJO*/
.trail {
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
@media only screen and (max-width: 650px) {
  .trail {
    width: 90%;
    bottom: 3%;
  }
}
.trail div {
  padding: 1rem;
  border-top: 3px solid #101E2C;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
  color: #101E2C;
}
.trail div:hover {
  opacity: 0.6;
}
@media only screen and (max-width: 650px) {
  .trail div {
    padding: 0.5rem;
  }

  .slider .box .bg{
    background-color: transparent;
  }

}

.active {
  opacity: 1 !important;
}

